#logo div {
    float: left;
    margin-top: 0%;
}
#logo img {
    width: 20%;
    height: auto;
    display: block;
    float: left;
    margin-top: 2%;
    margin-bottom: 2%;
    margin-left: 23%;
}
#nav_link div {
    margin-right: 6%;
}
.mid_part_lhr {
    width: 358px;
}
.mid_part_rhr {
    width: 358px;
}
.mid_part div:nth-child(1) span {
    font-size: 19px;
    font-size: 1.9rem;
}
.mid_part div:nth-child(2) span {
    margin-left: -9%;
}
#mid_btn {
    margin-left: 23%;
}

#main1_item2 {
    margin-top: -10%;
}
.main1_item_right_block span:nth-child(2) {
    font-size: 12px;
    font-size: 1.2rem;
}
.main1_item_right_block hr {
    margin-top: 0.5%;
}
.check_case {
    margin-top: 4%;
}
#main1_item2_big_img {
    width: 45%;
    margin-top: 8.5%;
}
#main1_item4_big_img {
    margin-top: 3%;
}

.main2_item_left_block span:nth-child(5) {
    font-size: 28px;
    font-size: 2.8rem;
    position: absolute;
    top: -7%;
    left: 5.4%;  
}
.main2_item_right_block span:nth-child(5) {
    font-size: 28px;
    font-size: 2.8rem;
    position: absolute;
    top: -7%;
    right: 4.5%;
}
#main2_item2_bottom_img {
    width: 106.8%;
}
#main2_item4_bottom_img {
    width: 106.8%;
}
#main2_item6_bottom_img {
    width: 106.8%;
}
#main2_item1_big_img {
    width: 40%;
    margin-top: 3%;
}
#main2_item2_big_img {
    width: 40%;
}
#main2_item3_big_img {
    width: 40%;
}
#main2_item4_big_img {
    width: 40%;
    margin-top: 3%;
}
#main2_item5_big_img {
    width: 40%;
    margin-top: 10%;
}
#main2_item6_big_img {
    width: 40%;
    margin-top: 1%;
}
#main3_mid_hr {
    width: 905px;
}

#main4_item1 {
    padding-left: 18%;
}
#main4_item2 {
    padding-left: 18%;
}
#main4_item3 {
    padding-left: 18%;
}
#main4_item1 img {
    width: 40%;
    margin-top: 5%;
}
#main4_item2 img {
    width: 40%;
    margin-top: 4%;
}
#main4_item3 img {
    width: 40%;
    margin-top: 3%;
}

#header_icon {
    width: 30%;
    height: auto;
}
#footer_icon {
    width: 30%;
    height: auto;
}