#logo {
    margin-top: 2.5%;
}
#logo img {
    width: 45%;
    margin-left: 22%;
}
#nav_link {
    margin-top: 2%;
    padding-left: 5%;
}
#nav_link div {
    margin-right: 10%;
}
#nav_link a {
    font-size: 12px;
    font-size: 1.2rem;
}
.mid_part_lhr {
    width: 93px;
}
.mid_part_rhr {
    width: 93px;
}
.mid_part div:nth-child(1) span {
    font-size: 16px;
    font-size: 1.6rem;
}
.mid_part div:nth-child(2) span {
    margin-left: -30%;
}
#mid_btn {
    margin-left: 10%;
}
#mid_btn div {
    width: 60px;
    height: 20px;
    line-height: 20px;
    padding-left: 1.4%;
}
#mid_btn div:nth-child(1) {
    font-size: 12px;
    font-size: 1.2rem;
    width: 83px;
}
#mid_btn div:nth-child(2) {
    font-size: 12px;
    font-size: 1.2rem;
    width: 145px;
}
#mid_btn div:nth-child(3) {
    font-size: 12px;
    font-size: 1.2rem;
}
#mid_btn div:nth-child(4) {
    font-size: 12px;
    font-size: 1.2rem;
}

#main1_item1_big_img {
    width: 65%;
    margin-left: 7%;
}
#main1_item2_big_img {
    width: 85%;
    margin-left: -4%;
}
#main1_item3_big_img {
    width: 85%;
    margin-left: -4%;
}
#main1_item4_big_img {
    width: 85%;
    margin-top: 5%;
    margin-left: -4%;
}
.main1_item_right_block {
    margin-top: 1%;
    margin-left: -12%;
}
.main1_item_right_block span:nth-child(1) {
    font-size: 15px;
    font-size: 1.5rem;
    float: none;
    text-align: center;
    display: block;
}
.main1_item_right_block span:nth-child(2) {
    font-size: 12.5px;
    font-size: 1.25rem;
    float: none;
    text-align: center;
    display: block;
}
.main1_item_right_block hr {
    width: 20%;
    float: none;
    text-align: center;
    display: block;
    margin-top: 1%;
}
.main1_item_right_block span:nth-child(4) {
    float: none;
    text-align: center;
    display: block;
}
#main1_item2 {
    margin-top: 2%;
}
.check_case {
    margin-left: 34%;
}
.main1_item_left_block {
    margin-top: 1%;
    margin-left: -12%;
}
.main1_item_left_block span:nth-child(1) {
    font-size: 15px;
    font-size: 1.5rem;
    float: none;
    text-align: center;
    display: block;
}
.main1_item_left_block span:nth-child(2) {
    font-size: 12.5px;
    font-size: 1.25rem;
    float: none;
    text-align: center;
    display: block;
}
.main1_item_left_block hr {
    width: 25%;
    float: none;
    text-align: center;
    display: block;
}
.main1_item_left_block span:nth-child(4) {
    float: none;
    text-align: center;
    display: block;
}
#main2_item2_bottom_img {
    width: 115%;
}
#main2_item4_bottom_img {
    width: 115%;
}
#main2_item6_bottom_img {
    width: 115%;
}
.main2_item_left_block span:nth-child(5) {
    font-size: 16px;
    font-size: 1.6rem;
    position: absolute;
    top: -4%;
    left: 20%;  
}
.main2_item_left_block span:nth-child(1) {
    font-size: 14px;
    font-size: 1.4rem;
    float: none;
    display: block;
    text-align: center;
}
.main2_item_left_block span:nth-child(3) {
    float: none;
    display: block;
    text-align: center;
}
.main2_item_left_block hr {
    width: 22%;
    float: none;
    display: block;
    text-align: center;
    margin-top: 0%;
    margin-bottom: 6.5%;
}
.main2_item_left_block span:nth-child(4) {
    float: none;
    display: block;
    text-align: center;
}
.check_case {
    float: none;
    margin-left: 32%;
}
#main2_item1_big_img {
    width: 75%;
    margin-left: 8%;
}
#main2_item2_big_img {
    width: 40%;
    position: absolute;
    top: 0%;
    left: 60%;
}
#main2_item3_big_img {
    width: 75%;
    margin-left: 8%;
}
#main2_item4_big_img {
    width: 45%;
    position: absolute;
    top: -5.5%;
    left: -25%;
}
#main2_item5_big_img {
    width: 75%;
    margin-left: 8%;
}
#main2_item6_big_img {
    width: 45%;
    position: absolute;
    top: -18%;
    right: 0%;
}
#main2_item1_position {
    margin-left: -1%;
}
#main2_item3_position {
    margin-left: -1%;
}
#main2_item5_position {
    margin-left: -1%;
}
.main2_item_right_block {
    margin-top: -4%;
    margin-left: -32%;
}
.main2_item_right_block span:nth-child(5) {
    font-size: 16px;
    font-size: 1.6rem;
    position: absolute;
    top: -4%;
    right: 14%;
}
.main2_item_right_block span:nth-child(1) {
    font-size: 14px;
    font-size: 1.4rem;
    float: none;
    display: block;
    text-align: center;
}
.main2_item_right_block span:nth-child(3) {
    font-size: 12px;
    font-size: 1.2rem;
    float: none;
    display: block;
    text-align: center;
}
.main2_item_right_block hr {
    width: 15%;
    float: none;
    display: block;
    text-align: center;
    margin-top: 0%;
    margin-bottom: 6.5%;
}
.main2_item_right_block span:nth-child(4) {
    font-size: 12px;
    font-size: 1.2rem;
    float: none;
    display: block;
    text-align: center;
    margin-top: -3%;
    transform: scale(0.8, 0.8);
}
#main2_check_case_dir2 {
    float: left;
    margin-top: 2%;
}
#main2_item4_text {
    float: right;
    margin-top: -6%;
    margin-right: -13%;
}
#main2_check_case_dir4 {
    margin-top: -3%;
    position: relative;
    left: -20%;
}
#main2_item6_text {
    margin-top: 1%;
    position: relative;
    left: 5%;
}
#main2_check_case_dir6 {
    position: relative;
    right: 35%;
}
.main3_item_text div:nth-child(2) {
    margin-bottom: 1%;
    margin-left: 45.5%;
}
.main3_item_title span:nth-child(1) {
    font-size: 15px;
    font-size: 1.5rem;
    float: none;
    display: block;
    text-align: center;
}
.main3_item_title span:nth-child(2) {
    font-size: 12px;
    font-size: 1.2rem;
    float: none;
    display: block;
    text-align: center;
}
#main3_item1 img {
    margin-left: 3%;
}
#main3_item3 img {
    margin-left: 3%;
}
#main3_item5 img {
    margin-left: 3%;
}
.main3_item24_img1 {
    margin-left: 3%;
}
.main3_item24_img2 {
    margin-left: 3%;
}
#main3_item4_top_img {
    margin-left: 3%;
}
#main3_down_block {
    padding-left: 17%;
}
#main3_mid_hr {
    width: 415px;
}
#main3_down_btn {
    margin-left: 39%;
}
#main3_down_block_1 {
    padding-top: 3%;
    padding-left: 3%;
}
#main3_down_block_2 {
    padding-top: 3%;
    padding-left: 3%;
}
#main3_down_block_3 {
    padding-top: 3%;
    padding-left: 3%;
}

#main4_item1 {
    padding-left: 6%;
}
#main4_item2 {
    padding-left: 6%;
}
#main4_item3 {
    padding-left: 6%;
}
#main4_item1 img {
    width: 60%;
    margin-top: 5%;
    margin-left: 18%;
}
#main4_item2 img {
    width: 60%;
    margin-top: 4%;
    margin-left: 18%;
}
#main4_item3 img {
    width: 60%;
    margin-top: 3%;
    margin-left: 18%;
}
.main4_item_left_block span:nth-child(1) {
    font-size: 15px;
    font-size: 1.5rem;
    float: none;
    display: block;
    text-align: center;
}
.main4_item_left_block span:nth-child(3) {
    font-size: 12px;
    font-size: 1.2rem;
    float: none;
    display: block;
    text-align: center;
}
.main4_item_left_block hr {
    width: 15%;
    float: none;
    display: block;
    text-align: center;
}
.main4_item_left_block span:nth-child(4) {
    float: none;
    display: block;
    text-align: center;
}
.main4_item_right_block {
    margin-left: 0%;
}
.main4_item_right_block span:nth-child(1) {
    font-size: 15px;
    font-size: 1.5rem;
    float: none;
    display: block;
    text-align: center;
}
.main4_item_right_block span:nth-child(3) {
    float: none;
    display: block;
    text-align: center;
}
.main4_item_right_block hr {
    float: none;
    display: block;
    text-align: center;
}
.main4_item_right_block span:nth-child(4) {
    float: none;
    display: block;
    text-align: center;
}

#header_icon {
    width: 30%;
    height: auto;
}
#footer_icon {
    width: 40%;
    height: auto;
}