#logo div {
    float: left;
    margin-top: 0%;
}
#logo img {
    width: 24%;
    margin-left: 0%;
}
#logo div span:nth-child(1) {
    display: block;
    -webkit-transform-origin-x: 0;
    -webkit-transform-origin-y: 0;
    transform: scale(0.95, 0.95);
}
#logo div span:nth-child(2) {
    display: block;
    -webkit-transform-origin-x: 0;
    -webkit-transform-origin-y: 0;
    transform: scale(0.55, 0.6);
}
#nav_link div {
    margin-right: 4%;
}
#nav_link a {
    font-size: 12px;
    font-size: 1.2rem;
}
#mid_btn div {
    padding-left: 3.3%;
}
#mid_btn {
    margin-left: 31%;
}
.mid_part_lhr {
    width: 267px;
}
.mid_part_rhr {
    width: 267px;
}
.mid_part div:nth-child(2) span {
    margin-left: -18%;
}
#mid_btn {
    margin-left: 25%;
}
#mid_btn div {
    padding-left: 3%;
}
#mid_btn div:nth-child(3) {
    padding-left: 6%;
}
#mid_btn div:nth-child(4) {
    padding-left: 5.7%;
}

#black_arrow_left {
    width: 8%;
    margin-top: 63%;
}
#black_arrow_right {
    width: 8%;
    margin-top: 63%;
}
#page_menu {
    margin-left: 36%;
}
#page_menu img:nth-child(1) {
    width: 1.4%;
    margin-top: 0.3%;
}
#page_menu img:nth-child(5) {
    width: 1.4%;
    margin-top: 0.3%;
}
#page_menu div {
    padding-left: 1.2%;
}
#classic_case_down_page1 {
    padding-left: 2.4%;
}
#classic_case_down_page1_1 {
    width: 293px;
}
#classic_case_down_page1_2 {
    width: 293px;
}
#classic_case_down_page1_3 {
    width: 293px;
}
#classic_case_down_page1_4 {
    width: 293px;
}
#classic_case_down_page1_5 {
    width: 293px;
}
#classic_case_down_page1_6 {
    width: 293px;
}

#classic_case_down_page2 {
    padding-left: 2.4%;
}
#classic_case_down_page2_1 {
    width: 293px;
}
#classic_case_down_page2_2 {
    width: 293px;
}
#classic_case_down_page2_3 {
    width: 293px;
}
#classic_case_down_page2_4 {
    width: 293px;
}
#classic_case_down_page2_5 {
    width: 293px;
}
#classic_case_down_page2_6 {
    width: 293px;
}

#classic_case_down_page3 {
    padding-left: 2.4%;
}
#classic_case_down_page3_1 {
    width: 293px;
}
#classic_case_down_page3_2 {
    width: 293px;
}
#classic_case_down_page3_3 {
    width: 293px;
}
#classic_case_down_page3_4 {
    width: 293px;
}
#classic_case_down_page3_5 {
    width: 293px;
}
#classic_case_down_page3_6 {
    width: 293px;
}

.change_img_color_footer_logo img {
    width: 130%;
}
.change_img_color_footer_logo {
    margin-left: 30%;
}
#bottom_1_link {
    margin-top: 25%;
    margin-left: 15%;
}
#bottom_1_link a {
    display: block;
    float: left;
    font-size: 12px;
    font-size: 1.2rem;
    -webkit-transform-origin-x: 0;
    -webkit-transform-origin-y: 0;
    transform: scale(0.9, 0.9);
}
#bottom_1 span {
    margin-top: 25%;
    display: block;
    float: left;
    font-size: 12px;
    font-size: 1.2rem;
    -webkit-transform-origin-x: 0;
    -webkit-transform-origin-y: 0;
    transform: scale(0.9, 0.9);
    margin-left: 15%;
}
#bottom_2_contact_us {
    font-size: 17px;
    font-size: 1.7rem;
}
.bottom_2_text {
    line-height: 180%;
    transform: scale(0.85, 0.85);
    margin-left: 1%;
}
#bottom_plane_text {
    left: 9.5%;
}
#bottom_local_text {
    left: 9.5%;
}
#bottom_qq_text {
    left: 9.5%;
}
#bottom_2_icon4 span {
    margin-left: 3.5%;
}
#bottom_message_img {
    top: 5%;
}
#bottom_message_text {
    left: 9.5%;
}
#bottom_3_plane {
    width: 140%;
    margin-bottom: 2%;
    margin-right: -13%;
}
#bottom_3_plane_num {
    display: block;
    font-size: 12px;
    font-size: 1.2rem;
}
#online_service_btn {
    width: 75px;
    height: 30px;
    margin-bottom: 140%;
}
#online_service_btn a {
    font-size: 12px;
    font-size: 1.2rem;
    line-height: 30px;
    margin-left: -8%;
}
#focus_us {
    font-size: 12px;
    font-size: 1.2rem;
}
.change_img_color_footer_icon {
    width: 19px;
    height: 19px;
    margin-right: 6%;
    margin-top: 10%;
}
.change_img_color_footer_icon img {
    margin-top: -40%;
    margin-left: 6%;
}
#bottom_3_qq {
    margin-top: -35%;
    margin-left: 0%;
}
#bottom_3 {
    margin-top: 4%;
}
#bottom_wechat {
    top: -12%;
    right: 105%;
}
#bottom_sina {
    top: 25%;
    right: 105%;
}
#bottom_qq {
    top: 60%;
    right: 105%;
}
#bottom_3_QR_code {
    padding-bottom: 2%;
    padding-right: 2%;
    padding-left: 2%;
}
#left_cutline {
    margin-top: 14%;
}
#right_cutline img {
    margin-left: 0%;
}
#right_cutline {
    margin-top: 14%;
}

#header_icon {
    width: 30%;
    height: auto;
}
#footer_icon {
    width: 40%;
    height: auto;
}